#!/usr/bin/env bash

DOMAIN="$1"

{{ certbot_bin }} --config "{{ letsencrypt_root_path }}/configs/${DOMAIN}.conf" -v --agree-tos --non-interactive certonly > "{{ node_home }}/letsencrypt-${DOMAIN}.log" 2>&1
