{
  "log-driver": "json-file",
  "log-opts": {"max-size": "{{ log_max_size }}", "max-file": "{{ log_max_file }}"}
{% if docker_dns is defined and docker_dns %}
  , "dns": {{ docker_dns | to_json }}
{% endif %}
{% if docker_disable_iptables is defined and docker_disable_iptables %}
  , "iptables": false
{% endif %}
}
