EMAIL_PUBLIC_KEY={{ mohamed_hedi_bra_portfolio_email_public_key }}
EMAIL_SERVICE_ID={{ mohamed_hedi_bra_portfolio_email_service_id }}
EMAIL_TEMPLATE_ID={{ mohamed_hedi_bra_portfolio_email_template_id }}
